<template>
  <div class="hello">
    <!-- <full-page ref="fullpage" :options="options" id="fullpage">
    <div class="section">
      <center>
          <img alt="Siemens logo" src="./assets/siemens.svg" height="500" width="500">
          <h1 color="white">Scroll Down</h1>
      </center>
    </div>
    <div class="section">
      <center>
          <HelloWorld msg="Welcome to Your Vue.js App"/>
      </center>
    </div>
    <div class="section">
      </div>
  </full-page> -->
  <!--Navbar-->
    <mdb-navbar :color="'primary'" position="top" dark href="#" transparent scrolling>
      <mdb-container>
        <mdb-navbar-brand href="https://siemens.mindsphere.io/en"><strong><img src="@/assets/siemens.svg" class="img-fluid"/></strong></mdb-navbar-brand>
        <mdb-navbar-toggler style="max-width: 1140px">
          <mdb-navbar-nav>
            <!-- <mdb-nav-item href="#" waves-fixed active>Home</mdb-nav-item>
            <mdb-nav-item href="#" waves-fixed>Link</mdb-nav-item>
            <mdb-nav-item href="#" waves-fixed>Profile</mdb-nav-item> -->
          </mdb-navbar-nav>
        </mdb-navbar-toggler>
      </mdb-container>
    </mdb-navbar>
    <!--/.Navbar-->
    <!--ViewWrapper-->
    <mdb-view>
      <mdb-mask class="gradient d-flex justify-content-center align-items-center">
        <mdb-container>
          <mdb-row>
            <div class="white-text text-center text-md-left col-md-6 mt-xl-5 mb-5">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">台電機組即時資料(.csv file)</h1>
              <hr class="hr-light"/>
              <!-- <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
              dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
              iste.</h6> -->
              <!-- <mdb-btn color="white" onclick="location.href='https://arcane-woodland-98207.herokuapp.com/'">Download</mdb-btn> -->
              <mdb-btn color="white" v-on:click="downloadNow">Download</mdb-btn>
              <mdb-btn outline="white" onclick="location.href='https://siemens.mindsphere.io/en'" >Learn More</mdb-btn>
            </div>
            <mdb-col md="6" xl="5" class="mt-xl-5">
              <img src="@/assets/siemens.svg" class="img-fluid" height="500" width="500"/>
            </mdb-col>
            <div class="white-text text-center text-md-left col-md-6 mt-xl-5 mb-5">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">台電機組即時資料(.csv file)</h1>
              <hr class="hr-light"/>
              <!-- <h6 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
              dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
              iste.</h6> -->
              <div>
                <!-- <mdb-input label="Date ex: 2010-10-10" size="lg" v-model="dateTime.date"/>
                <mdb-input label="Time ex: 1010" size="lg" v-model="dateTime.time"/> -->
                  <div class="input-group mb-3">
                  <input type="text" class="form-control" v-model="dateTime.year" placeholder="Year(e.g.2019)" aria-label="Year" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">-</span>
                  </div>
                  <input type="text" class="form-control" v-model="dateTime.month" placeholder="Month(e.g.07)" aria-label="Month" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">-</span>
                  </div>
                  <input type="text" class="form-control" v-model="dateTime.day" placeholder="Day(e.g.19)" aria-label="Day" aria-describedby="basic-addon1">
                </div>
                <!-- <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="dateTime.hour" placeholder="Hours(e.g.15)" aria-label="Day" aria-describedby="basic-addon1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">-</span>
                  </div>
                  <input type="text" class="form-control" v-model="dateTime.minute" placeholder="Minutes(e.g.10)" aria-label="Day" aria-describedby="basic-addon1">
                </div> -->
              </div>
              <!-- <mdb-btn color="white" onclick="location.href='https://arcane-woodland-98207.herokuapp.com/'">Download</mdb-btn> -->
              <mdb-btn color="white" v-on:click="prompt">Download</mdb-btn>
              <mdb-btn outline="white" onclick="location.href='https://siemens.mindsphere.io/en'" >Learn More</mdb-btn>
              <!-- <a v-bind:href="'https://arcane-woodland-98207.herokuapp.com/power_'+ dateTime.date+' ' + dateTime.time+'.csv'">test</a> -->
            </div>
          </mdb-row>
        </mdb-container>
      </mdb-mask>
    </mdb-view>
    <!--/.ViewWrapper-->
    <mdb-container>
      <mdb-row class="py-5">
        <col md="12" class="text-center">
        <center>
          <p>
            Siemens © Nick Chung &amp; Richard Chou<br> Dedicated to Gina Cheng 
          </p>
        </center>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { mdbContainer, mdbRow, mdbCol, mdbNavbar, mdbNavbarToggler, mdbNavbarNav, mdbNavItem, mdbInput, mdbView, mdbMask, mdbBtn, mdbNavbarBrand } from 'mdbvue';
import Vue from 'vue';

export default {
  name: 'HelloWorld',
    components: {
      mdbContainer,
      mdbRow,
      mdbCol,
      mdbNavbar,
      mdbNavbarToggler,
      mdbNavbarNav,
      mdbNavItem,
      mdbInput,
      mdbView,
      mdbMask,
      mdbBtn,
      mdbNavbarBrand
  },
  data: function() {
    return {
      msg: '沒發生任何事情！',
      dateTime: {
          year: '',
          month: '',
          day: '',
          hour: '',
          minute: ''
      },
    }
  },
  // props: {
  //   msg: String
  // },
  methods: {
    downloadNow() {
      var link = 'https://arcane-woodland-98207.herokuapp.com/';
      axios.get(link)
        .then(function (res) {
          console.log('Download Successfully!!');
          window.location.href = link;
        })
        .catch(function (err) {
          console.log(err);
          alert('Error occured!! Maybe Taipower is maintaining the system, or you can download the file you want by day.')
        });
    },
    prompt() {
      // axios({
      //   url: '//arcane-woodland-98207.herokuapp.com/',
      //   method: 'GET',
      //   responseType: 'blob', // important
      // }).then((response) => {
      //   let url = window.URL.createObjectURL(data.data)
      //   let link = document.createElement('a')
      //   link.style.display = 'none'
      //   link.href = url
      //   link.setAttribute('download', 'excel.csv')
      //   document.body.appendChild(link)
      //   link.click()
      // }); + 'power_' + dateTime.date + ' ' + dateTime.time + '.csv'
      // window.location.href = 'https://arcane-woodland-98207.herokuapp.com/' + 'power_' + this.dateTime.year+'-'+this.dateTime.month+'-'+ this.dateTime.day+ ' ' + this.dateTime.hour+this.dateTime.minute + '.csv'
      // window.location.href = 'https://arcane-woodland-98207.herokuapp.com/' + 'power_' + this.dateTime.year+'-'+this.dateTime.month+'-'+ this.dateTime.day+ '.csv'
      var link = 'https://arcane-woodland-98207.herokuapp.com/' + 'power_' + this.dateTime.year+'-'+this.dateTime.month+'-'+ this.dateTime.day+ '.csv';
      axios.get(link)
        .then(function (res) {
          console.log('Append Successfully!!');
          window.location.href = link;
        })
        .catch(function (err) {
          console.log(err);
          alert('Error occured!! Maybe this day has no file.')
        });

      },
      // appendData() {
        // axios.get('https://arcane-woodland-98207.herokuapp.com/append')
        // .then(function (res) {
        //   console.log('Append Successfully!!');
        // })
        // .catch(function (err) {
        //   console.log(err);
        // });

      //   setTimeout(this.appendData, 10000);
      // }
  },
  created() {
    // this.appendData();
  }
  //  beforeMount() {
  //   this.createOption();
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
  .navbar {
    transition: 1s;
  }
  .navbar .md-form {
    margin: 0;
  }
  .top-nav-collapse {
    background-color: black !important;
  }
  @media (max-width: 990px){
    .navbar {
      background-color: black !important;
    }
  }
  .view {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh);
  }
  .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  }
  h6 {
      line-height: 1.7;
  }
</style>
